.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- FIGMA STYLES -- */
/* CONTAINER TWEET */


/* Auto Layout */

.Post {
  border:2px solid darksalmon;
  margin: 0 2vh 2vh 3vh;
}

.Post .author {
  font-weight: bold;
  border:2px solid blue;
  margin: 0;
}

.Post .body {
  border:2px solid red;
  margin: 1vh 0 0 0;
}

.PostInput {
  border:2px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1vh;
}

.PostDisplay {
  border:2px solid #89A81E;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10vh 5vh 0 5vh;
}